button{
  background-color:plum ;
  border-radius: 1rem;

}

input  {
  padding: 0.3rem;
  border-radius: 1rem;
  border-color: rgb(169, 98, 169); 
}
input:focus {
  outline: none;
  border: none; 
}
body {
  background-color: rgb(6, 43, 61);
}

h1 {
  color:rgb(169, 98, 169); 
}

.container {
  width: 20%;
  height: 640px;
  /* margin: 0 auto; */
  margin-top: 3rem;
  padding:0rem 3rem;
  border-radius: 2rem;
  border: solid 3px rgb(169, 98, 169); ;

}

.list {
  width: 65%;
  height: 370px;
  margin-top: 5rem;
  padding: 0px 20px;
  border-radius: 1rem;
  border: solid 2px rgb(169, 98, 169);
}